In [1]:
from sqlalchemy import create_engine

In [2]:
import pandas as pd

In [7]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
engine.connect()

In [10]:
df_iter = pd.read_csv('/Users/saikrishna/Downloads/DataEngineeringZoomcamp/yellow_tripdata_2021-01.csv', iterator = True, chunksize = 100000)

In [11]:
df = next(df_iter)
len(df)

3

In [12]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [13]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [14]:
schema = pd.io.sql.get_schema(df, name = "yellow_taxi_data", con = engine)

## Adding data to SQL in chunks of 100k

In [15]:
df.head(n=0).to_sql(name = 'yellow_taxi_data', con = engine, index = False, if_exists = 'replace')

0

In [16]:
query = """ select * from pg_catalog.pg_tables where schemaname != 'pg_catalog' 
and schemaname != 'information_schema';"""

pd.read_sql(query, con = engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data,root,None,False,False,False,False

In [17]:
%time df.to_sql(name = 'yellow_taxi_data', con = engine, index = False, if_exists = 'append')

CPU times: user 17 ms, sys: 3.59 ms, total: 20.6 ms
Wall time: 31 ms

3

In [18]:
query = """ select count(*) from yellow_taxi_data;"""

pd.read_sql(query, con = engine)

   count
0      3

### looping until entire data is inserted

In [93]:
# from time import time

# while True:
    
#     t_start = time()
    
#     df = next(df_iter)
    
#     df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
#     df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
#     df.to_sql(name = 'yellow_taxi_data', con = engine, index = False, if_exists = 'append')
    
#     t_end = time()
    
#     print('finished one part......it took %.3f seconds' %(t_end-t_start))

In [100]:
query = """ select max(tpep_pickup_datetime), min(tpep_dropoff_datetime), max(total_amount) from yellow_taxi_data;"""

pd.read_sql(query, con = engine)

                  max                 min      max
0 2021-02-22 16:52:16 2008-12-31 23:07:22  7661.28

In [9]:
test = pd.read_csv("/Users/saikrishna/Downloads/DataEngineeringZoomcamp/docker_sql/output.csv", compression='gzip', nrows = 100)

In [10]:
test.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5